.nav{
    display:flex;
    justify-content:space-between;
}
/* main menu list */
.mainMenuUl{
    list-style: none;
    max-width:777px;
    height: 96px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    background-color:rgba(222, 222, 222, 0.088);
    backdrop-filter: blur(10px);
}
.mainMenuLi{
    padding: 0 40px;
    filter: blur(0px);
    cursor:pointer;
    text-shadow: 1px 1px 2px rgb(34, 32, 47);
    line-height: 95px;
    position: relative;
}
.mainMenuLi:hover::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: #85868b;
}
.mainMenuLi.active::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    
}
/* destination list */
.secondMenuUl{
    display:flex;
    gap: 30px;
    list-style: none;
}
.secondMenuLi{
    cursor:pointer;
    text-shadow: 1px 1px 2px rgb(34, 32, 47);
    line-height: 45px;
    position: relative;
}
.secondMenuLi:hover::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: #85868b;
}
.secondMenuLi.active::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    
}

/* burger menu */

.hamburger {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.5s ease-in-out;
    background-color: var(--light);
}

@media only screen and (max-width: 450px) {
    #Home{
        background-position: bottom;
    }
    .secondMenuLi{
        padding-top: 20px;
        line-height: 15px;
        text-align: center;
    }
    .content__wrapper{
        padding: 0 5px!important;
    }
    .mainMenuUl {
        z-index: 5;
        position: fixed;
        flex-direction: column;
        width: 60%;
        text-align: center;
        transition: 0.3s;
        height: 100vh !important;
        gap: 10px !important;
        backdrop-filter: blur(40px) !important;
        right: -100%;
    }
    .nav{
        padding-top: 0 !important;
    }
    .mainMenuLi{
        line-height: 10px !important;
        padding: 30px 0 !important;
        font-size: 14px !important; 
    }
    #Technology>.content__wrapper>.section__wrapper>.info_box > p{
        height: 200px;
    }

    .mainMenuUl.active {
       right: 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 7;
    }
    .decoration{
        display:none !important;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}

@media only screen and (max-width:450px){
    #Crew>.content__wrapper>.section__wrapper>.info_box{
        padding-top:50px;
        height: 280px;
    }
}

@media only screen and (min-width:900px){
    .info_box{
        padding-top: 50px!important;
    }
    #Commander>.section__wrapper>.img_wrapper>.sectionImg{
        transform: translateY(-60px);
    }
    #Flight-Engineer>.section__wrapper>.img_wrapper>.sectionImg{
        transform: translateY(35px);
    }
}