.nav{
    padding-top: 20px;
    display:flex;
    justify-content:space-between;
}
/* main menu list */
.mainMenuUl{
    list-style: none;
    max-width:777px;
    height: 96px;
    color: white;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    background-color:rgba(222, 222, 222, 0.088);
    backdrop-filter: blur(10px);
}
.mainMenuLi{
    padding: 0 40px;
    filter: blur(0px);
    cursor:pointer;
    text-shadow: 1px 1px 2px rgb(34, 32, 47);
    line-height: 95px;
    position: relative;
}
.mainMenuLi:hover::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: #85868b;
}
.mainMenuLi.active::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    
}
/* destination list */
.destinationUl{
    display:flex;
    gap: 30px;
    list-style: none;
}
.secondMenuLi{
    cursor:pointer;
    text-shadow: 1px 1px 2px rgb(34, 32, 47);
    line-height: 45px;
    position: relative;
}
.secondMenuLi:hover::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: #85868b;
}
.secondMenuLi.active::after{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    
}
