#Home{
    width: 100%;
    height: 100%;
    background-image: url('../../Assets/19606.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display:flex;
    flex-direction: column;
}
.homeSection{
    overflow: hidden;
    flex-grow: 2;
    display:flex;
    align-items:center;
    justify-content: space-around;
    padding: 0 165px;
}
.text_wrapper{
    width: 40%;
}
.text_wrapper>h5{
    color: var(--light);
    font-weight: 100;
}
.text_wrapper>p{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: var(--light);
}
#video{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* responsive adjustments */
@media screen and (max-width: 1100px){
    .homeSection{
        padding: 0 20px;
    }
}
@media screen and (max-width:1290px){
    .text_wrapper{
        margin-right: 180px;
    }
}
@media screen and (max-width: 840px){
    .homeSection{
        flex-direction: column;
    }
    .text_wrapper{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 50px;
        text-align: center;
        width:500px;
    }
    .text_wrapper>p{
        font-size: 18px;
        width: 500px;
    }
    .text_wrapper>h5{
        font-size: 30px;
    }
    .text_wrapper>h1{
        font-size: 70px;
    }
}