#Destination {
  width: 100%;
  height: 100%;
  background-image: url("../../Assets/stars-gd92b9599f_1920.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.sectionImg {
  height: 75%;
  object-fit: contain;
}

.grow {
  flex-grow: 2;
}
.section__wrapper {
  flex-grow: 2;
  display: grid;
  grid-template-columns: repeat(2, 6fr);
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
  justify-items: center;
  align-items: center;
}
.subheading {
  padding: 60px 0;
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
}
.info_box {
  text-align: left;
  padding: 100px 50px;
  height: 100%;
}
.info_box > h1 {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 200;
}
.info_box > h3 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.611);
}
.info_box > p {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  line-height: 28px;
  padding: 0 10px;
  font-weight: 100;
  color: var(--light);
  margin-bottom: 20px;
}

.info_box > .line_wrapper {
  width: 100%;
  margin: 0;
}

.infoTravel_box {
  padding-top: 20px;
  padding-left: 10px;
  display: flex;
  width: 100%;
  gap: 50px;
}

.infoTravel {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.infoTravel_heading {
  font-family: "Barlow Condensed", sans-serif;
  font-size: 1rem;
  color: var(--light);
  font-weight: 200;
  text-transform: uppercase;
}
.infoTravel_text {
  font-family: "Bellefair", serif;
  font-size: 1rem;
  color: white;
  font-weight: 200;
  text-transform: uppercase;
}

/* Responsive adjustments pc-small screens && tablets */

@media screen and (max-width: 1161px) {
  .section__wrapper > .sectionImg {
    height: 70%;
  }
  .info_box {
    padding: 20px;
  }
}

@media screen and (max-width: 900px) {
  .mainMenuUl {
    height: 70px;
    gap: 0;
  }
  .mainMenuLi {
    padding: 0 25px;
    line-height: 75px;
  }
  .sectionImg {
    height: 56%;
  }
  .section__wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }
  .nav_text {
    font-size: 13px;
  }
  .info_box {
    text-align: center;
    padding: 0 10px;
  }
  .info_box > h1 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 200;
  }
  .info_box > h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.611);
  }
  .info_box > p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1rem;
    padding: 0 10px;
    font-weight: 100;
    color: var(--light);
    margin-bottom: 20px;
  }

  .info_box > .line_wrapper {
    width: 100%;
    margin: 0;
  }

  .infoTravel_box {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .infoTravel {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .infoTravel_heading {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1rem;
    color: var(--light);
    font-weight: 200;
    text-transform: uppercase;
  }
  .infoTravel_text {
    font-family: "Bellefair", serif;
    font-size: 1rem;
    color: white;
    font-weight: 200;
    text-transform: uppercase;
  }
  #Space-capsule,
  #Spaceport,
  #Launch-vehicle {
    padding: 0;
  }
  #Space-capsule .img_wrapper {
    width: 100%;
    height: 250px;
  }
  #Spaceport .img_wrapper {
    width: 100%;
    height: 250px;
  }
  #Launch-vehicle .img_wrapper {
    width: 100%;
    height: 250px;
  }
  #Space-capsule .sectionImg {
    display: none;
  }
  #Spaceport .sectionImg {
    display: none;
  }
  #Launch-vehicle .sectionImg {
    display: none;
  }
  #capsuleImg,
  #spaceportImg,
  #veichleImg {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  #capsuleImg {
    background-image: url("../../Assets/technology/image-space-capsule-landscape.jpg");
  }
  #spaceportImg {
    background-image: url("../../Assets/technology/image-spaceport-landscape.jpg");
  }
  #veichleImg {
    background-image: url("../../Assets/technology/image-launch-vehicle-landscape.jpg");
  }

  .img_wrapper {
    align-items: flex-start !important;
  }
  #Moon .infoTravel_box{
    padding-bottom: 28px;
  }
  #Mars .infoTravel_box{
    padding-bottom: 28px;
  }
  #Europa .infoTravel_box{
    padding-bottom: 28px;
  }
  #Titan .infoTravel_box{
    padding-bottom: 28px;
  }
}

/* small tablets && mobile */

@media screen and (max-width: 556px){
  .mainMenuLi{
    padding: 0 10px;
  }
  .homeSection.animate__animated.animate__fadeIn{
    padding: 0;
  }
  .text_wrapper{
    margin: 0 10px;
  }
  .text_wrapper>h5{
    font-size: 20px;
  }
  .text_wrapper>h1{
    font-size: 45px;
  }
  .text_wrapper>p{
    font-size: 18px;
    width: 300px;
  }
  .mainBtn{
    width: 200px;
    height: 200px;
  }
  .secondMenuUl{
    gap: 25px;
  }

  #Space-capsule .img_wrapper{
    height: 200px;
  }
  #Spaceport .img_wrapper{
    height:200px;
  }
  #Launch-vehicle .img_wrapper{
    height: 200px;
  }
  .sectionImg{
    height: 45%;
  }
}

@media screen and (min-width:1400px) {
  .nav{
    padding: 30px 0;
  }
  .nav_text{
    font-size: 150%;
  }
  .info_box>h1{
    font-size: 6rem;
  }
  .info_box>p{
    font-size: 1.5rem;
  }
  .infoTravel_heading{
    font-size: 1.5rem;
  }
  .infoTravel_text{
    font-size: 1.5rem;
  }
  #Crew .sectionImg{
    height: 85%;
  }
  #Technology .sectionImg{
    height: 100%;
  }
}
@media screen and (min-width:1680px) and (min-height:1000px) {
  .info_box>h1{
    font-size: 6.5rem;
  }
  .info_box>p{
    font-size: 1.8rem;
  }
  .infoTravel_heading{
    font-size: 1.5rem;
  }
  .infoTravel_text{
    font-size: 1.5rem;
  }
  #Crew .sectionImg{
    height: 100%;
    margin-top: 100px;
  }
  #Technology .sectionImg{
    height: 100%;
  }
}
@media screen and (min-width:1920px) and (min-height:1200px) {
  .nav_text{
    font-size: 180%!important;
    width:auto;
  }
  .mainMenuUl{
    height: 150px;
  }
  .mainMenuLi{
    line-height:140px;
  }
  .info_box{
    margin-top: 100px;
  }
  .info_box>h1{
    font-size: 7rem;
  }
  .info_box>p{
    font-size: 2rem;
  }
  .infoTravel_heading{
    font-size: 1.9rem;
  }
  .infoTravel_text{
    font-size: 1.9rem;
  }
  #Crew .sectionImg{
    height: 110%;
    margin-top: 180px;
  }
  #Technology .sectionImg{
    height: 100%;
  }
}

