#Destination{
    width: 100%;
    height: 100%;
    background-image: url('../../Assets/stars-gd92b9599f_1920.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.planetImg{
    width: 400px;
}