*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    --dark: #0b0d17;
    --light: #d0d6f9;
    --white: #ffffff;
    color: white;
}
h1{
    font-family: 'Bellefair', serif;
    font-size: 150px;
}
h2{
    font-family: 'Bellefair', serif;
    font-size: 100px;
}
h3{
    font-family: 'Bellefair', serif;
    font-size: 56px;
}
h4{
    font-family: 'Bellefair', serif;
    font-size: 32px;
}
h5{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 28px;
    letter-spacing: 1px;
}
.subheading1{
    font-family: 'Bellefair', serif;
    font-size: 28px;
}
.subheading2{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 14px;
}
.nav_text{
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    list-style: decimal-leading-zero;
}


.App{
    width: 100%;
    height: 100vh;
}

body{
    width: 100%;
    height: 100vh;
}
#root{
    width: 100%;
    height: 100vh;
}
